.footer-main {
  background-color: #99A985;
  min-height: 30vh !important;
}

.link-to-category-footer {
  color: black;
  text-decoration: none;
}

.pre-footer-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.copyright-footer-end {
  background-color: #650144;
  color: #ffd5ee;
  padding: 20px;
}

@media (max-width: 768px) {

  .footer-row {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30% !important;
  }

  .h3-footer {
    display: none !important;
  }

  .link-to-category-footer {
    font-size: 15px !important;
  }
}
